.App {
  background-color: silver;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.wea p{
  text-align: left;
  background-color: rgba(255, 255, 255, 0.349);
  border: slategrey 2px solid;
  margin:2px;
}
.wea{
  /* background-color: rgb(194, 205, 219); */
}
canvas{
  border:1px solid black;
  position: relative;
  width: 400px;

}

span{
  font-size: 3em;
}
.App-header {
  background-color: #222;
  height: 100px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  line-height: 80px;
}
.jcc{
  height: 600px;
  max-height: 600px;
  overflow-y: scroll;
  background-color: rgb(167, 166, 253);
  color: rgb(15, 1, 63);
}

.jcc h3 {
  align-content:center;
}
.jcc table{
  position: relative;
  float: left;
}
.jcc table td{
  font-size: 1em;
  padding: 1px;
}
.App-intro {
  font-size: large;
}
h3,h2{
  text-decoration: underline;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
